.mobile-nav {
    background-color: white;
    font-size: 14px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1
}

.mobile-nav__link { 
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    width: 100vw; 
    padding: 10px;
}


.mobile-nav__link-title {
    text-decoration: none;
    color: black;
    padding: 10px;
    border-bottom: 1px solid #ebe8e8;
}

.mobile-nav__link:last-child .mobile-nav__link-title {
    border-bottom: 0;
}

.mobile-nav__options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
}

.mobile-nav__option-item {
    width: 100%;
    padding: 10px;
    text-decoration: none;
    color: black;
    display: flex;
    align-content: center;
    align-items: center;
    
}

.mobile-nav__option-item:hover {
    color: white;
    background-color: #FF9100;
}

.mobile-nav__option-item i {
    display: inline;
    margin-right: 5px;
    font-size: 9px;
}

@media (min-width: 980px) {
    .mobile-nav {
        display: flex;
        position: relative;
    }

    .mobile-nav__link { 
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        color: black;
        width: 110px; 
        height: 90px
    }
}