.signin__container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 200px);
}

.signin__headline {
    font-size: 25px;
    margin-bottom: 20px;
}

#form__email,
#form__password,
.signin__button  {
    width: 250px;
}

#form__password {
    margin-bottom: 10px;
}



