.header {
    background-color: white;
    position: relative;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__social {
    display: none;
    font-size: 30px;
}

.header__social-link {
    cursor: pointer;
    margin-right: 10px;
    padding: 10px;
    color: black;
}

.header__social-link:hover {
    color: white;
    background-color: #FF9100;
}

@media (min-width: 980px) {
    .header__container {
        padding: 0;
        justify-content: space-around;
    }

    .header__social {
        display: flex;
    }
}

