.nav {
    display: none;
    background-color: white;
    font-size: 14px;
    position: absolute;
    top: 100%;
    left: 0
}

.nav__link { 
    display: flex;
    text-decoration: none;
    color: black;
    width: 100vw; 
    padding: 10px;
}

.nav__link:hover {
    background-color: #FFB043;
    color: white;
}

/* .nav__options {
    display: none;
} */

@media (min-width: 980px) {
    .nav {
        display: flex;
        position: relative;
    }

    .nav__link { 
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        color: black;
        width: 110px; 
        height: 90px
    }
}

.nav__options {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FFB043;
    width: 300px;
    z-index: 1
}

.nav__option-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-decoration: none;
    color: black
}

.nav__option-item:hover {
    color: white;
    background-color: #FF9100;
}
