.form {
    display: flex;
    padding: 25px;
    background-color: white;
}

.form input {
    padding: 10px 0;
    border: 1px solid #d1cece;
    width: 250px
}

.form tr:last-child input {
    width: 500px
}


.form tr:last-child td:first-child {
    padding: 10px 0;
}

.form tr:last-child  {
    display: flex;
    flex-direction: column;
    width: 100%
}

.form__img {
    width: 200px;
    height: 300px;
    margin-bottom: 20px;  
    margin-right: 20px;
}




