.ready__container {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ready__container i {
    font-size: 150px;
    color: #d1cece;
    margin-bottom: 15px;
}


