*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #EDEDED;
    color: black;
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    padding-right: 10px;
    padding-left: 10px;
}

.content-wrapper {
    background-color: white;
}

.spacer {
    height: 1px;
    margin-bottom: 20px;
}

.headline {
    font-size: 30px;
    margin-bottom: 15px;
    color: #FFB043;
    font-weight: 400;
}

.column {
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    padding-right: 15px;
    padding-left: -15px;
}

@media (min-width: 980px) {
    .container {
        padding-right: 40px;
        padding-left: 40px;
    }
    .headline {
        font-size: 40px;
    }

    .spacer {
        margin-bottom: 40px;
    }
}